<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Organic Web Design</title>
<link href="stylesheets/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="containertop"></div>
		<!-- Header -->
		<h1><a href="http://www.studio7designs.com" title="Landscaping Website Design">Organic Design</a></h1>
		<hr />
		<div id="navigation_wrapper">
			<!-- Top Navigation -->
			<ul id="navigation">
				<li><a href="#" title="Home">Home</a></li>
				<li><a href="#" title="Portofolio">Portfolio</a></li>
				<li><a href="#" title="Contact">Contact</a></li>
				<li><a href="#" title="History">History</a></li>
			</ul>
			<!-- Search Field -->
			<fieldset id="search_wrapper">
				<form action="#">
					<input type="text" value="Search" class="search" name="search" />
					<input type="submit" value="Search" class="hide" />
				</form>
			</fieldset>
		</div>
		<!-- Main Image -->
		<div id="main_image">
			<img src="images/main_image.jpg" width="860" height="408" alt="Main Image" />
			<div id="frame_image_top"></div><div id="frame_image_bottom"></div>
			<hr />
		</div>
		<!-- The 3 Banner -->
		<div id="banner_wrapper">
			<div class="banner">
				<h2>Zen Gardens</h2>
				<div class="image_wrapper"><img src="images/zengardens.jpg" width="228" height="202" alt="image: Zen Gardens" /><span></span></div>
			</div>
			<div class="banner">
				<h2>Organic Plants</h2>
				<div class="image_wrapper"><img src="images/organicplants.jpg" width="228" height="202" alt="image: Organic Plants" /><span></span></div>
			</div>
			<div class="banner banner_last">
				<h2>Organic Gardens</h2>
				<div class="image_wrapper"><img src="images/organicgardens.jpg" width="228" height="202" alt="image: Organic Gardens" /><span></span></div>
			</div>
			<hr />
		</div>
		<!-- Services List -->
		<div id="services">
			<h2>Organic Landscaping Services<span></span></h2>
			<div id="servicescontent">
				<ul class="serviceslist">
					<li><a href="http://www.studio7designs.com" title="Organic Produce Gardens">Organic Produce Gardens</a></li>
					<li><a href="http://www.studio7designs.com" title="Native Plant Selections">Native Plant Selections</a></li>
					<li><a href="http://www.studio7designs.com" title="Garden Planning">Garden Planning</a></li>
					<li><a href="http://www.studio7designs.com" title="Year Round Flowers">Year Round Flowers</a></li>
					<li><a href="http://www.studio7designs.com" title="Zen Rock Gardens">Zen Rock Gardens</a></li>
					<li><a href="http://www.studio7designs.com" title="Waterfalls">Waterfalls</a></li>
					<li><a href="http://www.studio7designs.com" title="Ponds">Ponds</a></li>
					<li><a href="http://www.studio7designs.com" title="Water Plants">Water Plants</a></li>
					<li><a href="http://www.studio7designs.com" title="Fish Selections">Fish Selections</a></li>
				</ul>
				<ul class="serviceslist">
					<li><a href="http://www.studio7designs.com" title="Organic Produce Gardens">Organic Produce Gardens</a></li>
					<li><a href="http://www.studio7designs.com" title="Native Plant Selections">Native Plant Selections</a></li>
					<li><a href="http://www.studio7designs.com" title="Garden Planning">Garden Planning</a></li>
					<li><a href="http://www.studio7designs.com" title="Year Round Flowers">Year Round Flowers</a></li>
					<li><a href="http://www.studio7designs.com" title="Zen Rock Gardens">Zen Rock Gardens</a></li>
					<li><a href="http://www.studio7designs.com" title="Waterfalls">Waterfalls</a></li>
					<li><a href="http://www.studio7designs.com" title="Ponds">Ponds</a></li>
					<li><a href="http://www.studio7designs.com" title="Water Plants">Water Plants</a></li>
					<li><a href="http://www.studio7designs.com" title="Fish Selections">Fish Selections</a></li>
				</ul>
			</div>
			<span class="bottom_rounded"></span><span class="bottom_pic"></span>
			<hr />
		</div>
	</div>
	<!-- Footer -->
	<div id="footer_wrapper">
		<div id="footer">
			<div class="logo"><a href="http://www.studio7designs.com" title="Organic Web Design">Eco web design by STUDIO7DESIGNS</a><span></span></div>
			<ul>
				<li><a href="#" title="Home">Home</a></li>
				<li><a href="#" title="About">About</a></li>
				<li><a href="#" title="Services">Services</a></li>
				<li><a href="#" title="Contact">Contact</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
